* text eol=lf
*.pb binary
*.zip binary
*.tar.gz binary
*.tar.bz2 binary
*.xlsx binary
*.doc binary
*.graphml binary
*.png binary
*.gif binary
luacheck/* binary

# fix github language stat
# https://stackoverflow.com/questions/34713765/github-changes-repository-to-wrong-language
stl/* linguist-vendored
