.vscode/**
.vscode-test/**
out/test/**
out/tools/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
# vs code can NOT show local picture at markdown, no need to pack them
*.gif
grammars_injection_highlight.png
stl/doc_*/**
